<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="search()" placeholder="Search restaurants"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let restaurant of filteredRestaurants" (click)="addToCart(restaurant)">
      <ion-label>
        <ion-thumbnail>
          <img src={{restaurant.image}}>
        </ion-thumbnail>
        <h2>{{ restaurant.name }}</h2>
        <p>Type: {{ restaurant.type }}</p>
        <p>Rating: {{ restaurant.ratings }}<ion-icon name="star-outline"></ion-icon></p>
        <p>Distance: {{ restaurant.distance }} kms away</p>
        <p>Price: R{{ restaurant.price }} {{restaurant.description}}</p>
        <p>Time: {{restaurant.time}} mins.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>