<ion-header>
  <ion-toolbar>
    <ion-title>Edit User Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Surname</ion-label>
      <ion-input [(ngModel)]="user.surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input [(ngModel)]="user.phoneNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="user.email"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="saveUser()">Save</ion-button>
</ion-content>